*
!.gitignore
!.gdbinit
!.gitattributes
!README
!Makefile
!Makefile.header
!hdc-0.11.img

!boot/
!boot/**
!fs/
!fs/**
!include/
!include/**
!init/
!init/**
!kernel/
!kernel/**
!lib/
!lib/**
!mm/
!mm/**
!tools/
!tools/**
!scripts/
!scripts/**
!assets/
!assets/**

!**.S
!**.S
!**.c
!**.h
!**.md
!**.sh

*.o
*.a
boot/bootsect
boot/setup

**.DS_Store
